.blog-image{
	position: relative;
}

img{
	width: 100%;
	height: auto;
}

.blog-title{
	position: absolute;
	bottom: 0;
	background-color: rgba(0,0,0, .7);
	width: 96%;
	padding: 0 2%;
}

.blog-title h2{
	color: white;
	margin-bottom: 0;
}

.blog-title .blog-image-caption{
	color: white;
	font-family: 'Righteous';
}

.blog-date{
	text-align: right;
}

.blog-list-item{
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.blog-list-title{
	margin-bottom: .35em;
}

.blog-list-title a{
	text-decoration: none;
}

.blog-list-title a:hover{
	text-decoration: underline;
}

.blog-list-date{
	font-size: .85em;
}

.two-column-gallery-img{
	width: 48%;
	display: inline-block;
}
